@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* globals.css or custom CSS file */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes reverse-scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Use Tailwind plugin to add custom animation classes */
.animated-scroll {
  animation: scroll 20s linear infinite;
}

.reverse-animated-scroll {
  animation: reverse-scroll 20s linear infinite;
}

/* Global CSS file */

.hover\:shadow-neon:hover {
  box-shadow: 0 0 15px 5px rgba(0, 255, 255, 0.7);
  border: 2px solid rgba(0, 255, 255, 0.7);
  transform: scale(1.05);
}

