@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* globals.css or custom CSS file */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes reverse-scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Use Tailwind plugin to add custom animation classes */
.animated-scroll {
  animation: scroll 20s linear infinite;
}

.reverse-animated-scroll {
  animation: reverse-scroll 20s linear infinite;
}

/* Global CSS file */

.hover\:shadow-neon:hover {
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.7);
  border: 2px solid rgba(255, 255, 255, 0.7);
  transform: scale(1.05);
}

@keyframes rainbowGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.rainbow-border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  background: linear-gradient(45deg, #ff0066, #ffcc00, #33cc33, #00ccff, #cc00ff, #ff0066);
  background-size: 400%;
  z-index: 0;
  filter: blur(20px);
  animation: rainbowGlow 5s ease infinite;
  opacity: 0; /* Animasi tidak terlihat awalnya */
  transition: opacity 0.3s ease; /* Animasi muncul secara bertahap */
}

.form-container:hover .rainbow-border {
  opacity: 1; /* Animasi rainbow muncul saat di-hover */
}

.form-container {
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease; /* Zoom animasi */
}

.form-container:hover {
  transform: scale(1.05); /* Efek zoom */
}

@keyframes rainbowGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

